.container {
	width: 100vw;
	height: 50vh;
	box-shadow: 0.75em 0 0.75em 0 rgba(0, 0, 0, 0.15);
	align-items: center;
}

#challengeImg {
	width: 100%;
	height: 100%;
	background: linear-gradient(
			rgba(231, 183, 136, 0.85),
			rgba(231, 183, 136, 0.85)
		),
		url('../../images/Challenge.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
}

#challengeImg h1 {
	margin: 0px 50px;
	font-size: 3.5rem;
	width: 90vw;
	border-bottom: 2px solid white;
}

.container2 {
	display: flex;
	margin: 50px 0px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.challengeCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* flex-basis: 18%; */
	width: 300px;
	background-color: #2a2f4a;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
	margin: 15px;
	min-height: 300px;
}

.flexControl1 p {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../../images/ChallengeCard.jpg');
	background-position: center;
	background-size: cover;
	padding: 10px;
	border-radius: 15px;
	min-height: 180px;
}

.challengeCard:hover {
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
	transform: rotate(1deg);
}

.flexControl2 {
	margin-top: 10px;
	padding-top: 10px;
}

.flexControl2 ul {
	display: flex;
	justify-content: space-around;
}
